modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 23636
externalPort = 80

[[ports]]
localPort = 23637
externalPort = 3000

[[ports]]
localPort = 23638
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash -c \"trap '' HUP; npm run dev\""
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_openai:1.0.0", "resend:1.0.0"]

[userenv]

[userenv.shared]
ADMIN_EMAIL = "lucaforte94@gmail.com"
JWT_SECRET = "90c3b6a9b43c1ba7af3e8c9d5fb757ebedabe622e13a297d4f0ffa4ef2bf88bc366701995693dbad5eb486338f61a131"
VAPID_PUBLIC_KEY = "BFRPyWrRZU7M4nFlJ3wI1fVKSRXaLDpJSBBNL4TmEYZ-jbn4BckvvfgnowU1Oa6Oj3z20OEVV841a3bUx_TRUQk"
VAPID_PRIVATE_KEY = "itkoNWBOxFrfQqH-Xj45k-pZW1NoHTu7vQeDLASnTwQ"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
