modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33131
externalPort = 3000

[[ports]]
localPort = 35021
externalPort = 4200

[[ports]]
localPort = 35405
externalPort = 3002

[[ports]]
localPort = 37677
externalPort = 5173

[[ports]]
localPort = 37913
externalPort = 6000

[[ports]]
localPort = 42427
externalPort = 3001

[[ports]]
localPort = 43209
externalPort = 6800

[[ports]]
localPort = 44731
externalPort = 5000

[[ports]]
localPort = 46463
externalPort = 3003

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai:1.0.0"]
